<nav class="navbar navbar-expand-md navbar-dark bg-dark rtl">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            <li style="margin: auto;">
                <div >
                    <h4>کندو استخدام</h4>
                </div>
            </li>
            <li>
                <ul class="float-right">
                    <li style="display: inline;">
                        <a href="#"><img src="../../../assets/img/icon2.svg"></a>
                    </li>
                    <li style="margin-right: 10px;">
                        <a href="#"><img src="../../../assets/img/icon1.svg"></a>
                    </li>
                </ul>
            </li>
        </ul>
      
       <img style="margin: 0 auto;"  src="../../../assets/img/logo.svg">

       <h3 style="color: white;" class="float-left">الهام توفیقی</h3>
    
    </div>
    
   

  </nav>