<app-header></app-header>
<div class="container-fluid rtl">
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <!-- <div style="height: 140px;" class="sidebar-header">
                <ul style="float: right;padding: 20px;">
                    <li >پیام ها</li>
                    <li>20</li>
                </ul>
                <ul style="float: left;padding: 20px;">
                    <li>قدیمی ترین ها</li>
                </ul>
               
            </div> -->
            <app-sidebar-header (exitCatId)="getCatId($event)"></app-sidebar-header>
            <div class="sidebar">
                <nav class="bg-light" style="margin-top: 20px;">
                    <app-side-bar [catID]="catID"></app-side-bar>
                </nav>
            </div>
        </div>
        <!-- <nav class="col-md-3 col-lg-3 d-md-block bg-light sidebar collapse">
            <app-side-bar style="display: block; margin-bottom: 50px;"></app-side-bar>
        </nav> -->
        <main class="col-md-9 ml-sm-auto col-lg-9 px-md-4">
        <router-outlet></router-outlet>
    </main>
    </div>
    
</div>